body{
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 325px 1fr 1fr;
    grid-template-rows: 440px 135px 1fr;
    grid-template-areas: "side-bar video video"
                         "side-bar description description"
                         "side-bar comment suggestion";
}

.side-bar{
    grid-area: side-bar;
    display: grid;
    grid-template-rows: 120px 550px 320px;
    grid-template-areas: "logo"
                         "my-playlist"
                         "friend-playlist";
    background-color: #151b31;
    color: white;
}

.logo{
    grid-area: logo;
    height: 120px;   
    display: grid;
    align-items: center;
    margin-left: 24px;
}

.logo img{
    
}

.my-playlist{
    grid-area: my-playlist;
    height: 550px;
    
}

.my-playlist h3{
    font-weight: normal;
    margin: 0 0 0 24px;
}

.my-playlist ol li{
    margin-right: 24px;
    padding: 0 0 20px 24px;
}

.friend-playlist{
    grid-area: friend-playlist;
    height: 320px;    
}

.friend-playlist h3{
    font-weight: normal;
    margin: 0 0 0 24px;
}

.friend-playlist ul{
    list-style: none;    
}

.friend-playlist li{
    display: flex;
    margin: 0 0 20px -20px;
    align-items: center;
}

.friend-playlist img{
    background-color: white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.friend-playlist p{
    margin-left: 24px;
}

.video{
    grid-area: video;    
    height: 440px;
}

.video .cover{
    width: 1024px;
    height: 440px;
    object-fit: cover;
    position: absolute;
}

.video .arrow{
    position: absolute;
    margin: 40px 0 0 24px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
}

.video .arrow img{
    color: white;
}

.video .play{
    position: absolute;
    margin: 170px 0 0 462px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
}

.video .play img{    
    width: 100px;
    height: 100px;
    color: white;
}

.description{
    grid-area: description;
    height: 135px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "video-desc video-desc"
                         "actions tags";
}

.video-desc{
    grid-area: video-desc;
}

.video-desc h2{
    margin: 18px 0 0 10px;
    color: #6a6c7b;
    font-weight: normal;
}

.video-desc h3{
    margin: 0 0 0 10px;
    color: #b1b1b1;
    font-weight: normal;
}

.actions{
    grid-area: actions;
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
    width: 325px;
    display: flex;
    justify-content: space-between;
}

.actions .add{
    color: white;
    background-image: linear-gradient(to right, red, pink);
    padding: 8px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    
}

.actions .repost{
    background-color: white;
    border: 1px solid white;    
}

.actions .save{
    background-color: white;
    border: 1px solid white;
}

.actions .repost img, .actions .save img{
    width: 20px;
}

.tags{
    grid-area: tags;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 400px;
}

.tags a{
    text-decoration: none;
    color: white;
    padding: 2px 8px 2px 8px;
    border-radius: 10px;
    font-size: 14px;
    width: 70px;
    display: flex;
    justify-content: center;
}

.tags .electro{
    background-color: #9b56fe;
}

.tags .rock{
    background-color: #11ecc0;
}

.tags .eight{
    background-color: #de1722;
}

.tags .relax{
    background-color: #e72a7e;
}

.comment{
    grid-area: comment;
    width: 600px;
    padding: 25px 0 0 24px;
}

.new-comment{
    display: flex;
    background-image: linear-gradient(white, lightgray);
    padding: 5px;
    width: 500px;
    border-radius: 5px;
    margin: 10px 0 0 0;
    box-shadow: 10px grey;
    align-items: center;
}

.new-comment input{
    background-color: transparent;
    font-size: 16px;
    margin: 5px 0 0 10px;
    border: none;
}

.new-comment input:focus{
    border: none;    
}

.new-comment img{
    border: 1px solid black;
    border-radius: 50px;
}

.old-comment{
    display: flex;
    margin: 18px 0 0 0;
    font-size: 16px;
}

.old-comment img{
    width: 38px;
    height: 38px;
    border: 1px solid black;
    border-radius: 50px;
    margin: 0 10px 0 0;
}

.suggestion{
    grid-area: suggestion;
    padding: 25px 0 0 0;
}

.title-suggestion{
    margin: 0 0 10px 0;
}

.suggest{
    width: 225px;
    height: 200px;
}

.suggest img{
    width: 225px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .5);
}

.suggest p{
    width: 170px;
    margin: 5px 0 0 0;
    font-size: 12px;
}

p{
    margin: 0;
    padding: 0;
}


